default: &default
  adapter: postgresql
  encoding: unicode
  host: db
  username: postgres
  password:
  pool: 5

development:
  <<: *default
  database: financial_independence_planner_development


test:
  <<: *default
  database: financial_independence_planner_test

production:
  <<: *default
  database: financial_independence_planner_production